{% extends "templates/layout.twig" %}

{% block content %}
    <div class="page-header">
        <h3>Livraslim - Sistema de Livraria com API</h3>
    </div>

    <p>
        O objetivo deste sistema é apresentar os livros em HTML e
        todo o CRUD ser via API
    </p>
{% endblock %}